snippet progdesc "program description for programming questions" b
# Name of the program
## Program Info
- Platform/Source:- 
- Date:-
- Type of Problem:-
- Status:- 
#### Complexity:- 
---
## Solution in brief

## Sample to understand the solution

### Input

### Output

### Explanation
---
endsnippet
